.CardOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.3em;
  width: 100%;

  align-items: center;

  justify-content: space-around;
  .card {
    width: 30%;
    height: 18vh;

    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
