* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.firstContainer-menu {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  .logo-principal {
    background-color: green;
    padding: 3em;
    width: 60vw;
    font-size: 20px;
  }

  .iconos-derecha {
    background-color: aqua;
    padding: 3em;
    width: 20em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .iconos {
      width: 20px;
    }
  }
}

.secondContainer {
  background-color: black;
  padding: 1em;
}

.FiveContainer {
  background-color: beige;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.carouselReact {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}
