* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.App #root {
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}

.firstContainer-menu {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #2879a7;

  .logo-principal {
    padding: 3em;
    width: 60vw;
    font-size: 15px;
  }

  .iconos-derecha {
    padding: 3em;
    width: 20em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .iconos {
      width: 20px;
    }
  }
}

.middleText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.FiveContainer {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.carouselReact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nuestraTienda {
  padding: 3em;
  background-color: brown;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: deepskyblue;
}
